.admin-panel{
    border-radius: 3px;
    height: 60px;
    background-color: #337ab7;;
    margin-left: 32px;
    margin-right: 32px;
    text-align: center;
    color: aliceblue;
}
h1{
    padding-top: 15px;
}
.nav{
    margin-left: 32px;
}
.cube{
    /* display:inline-block; */
    display: none;
    width: 30%;
    background-color:#337ab7;
    height: 500px;
    margin-top: 20px;
    margin-left: 32px;
    border-radius: 3px; 
    vertical-align:top;
    text-align: center;
    color: aliceblue;
    
}
.result{
    margin-left: 32px;
    margin-right: 32px;
}
ul{
    list-style: none;
}
.inputs{
    border-radius: 2px;
    border: none;
    width: 220px;
    float: right;
    margin-right: 10px; 
    color: black;
}
label{
    margin-left: -35px;
    /* margin-right: 15px; */
}
.floatleft {
	float: left;
}
.modal-dialog{
    color: black;
}
hr{
    margin-left: -40px;
    margin-top: -10px;
}
h3{
    margin-top: 5px;
}
.gj-datepicker{
    margin-left: 135px;
}
.form-control{
    height: 23px;
}
.input-group-addon{
    padding-top:2px;
    padding-bottom: 3px;
}

