body{
    background-color: #337ab7; 
}
table {
    font-family: arial, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(152, 195, 233);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */

.result{
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    text-align: center;
    font-family: arial, sans-serif;
}

#welcome{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(196, 216, 233);
    border: 1px solid rgb(96, 138, 155);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

